{% extends "layout/base.html" %}
{% block content %}

    <header class="masthead" style="background-image: url(' {{ url_for('static', filename='Images/diving5.jpg') }}')">
        <div class="overlay"></div>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Add Dive</h1>
                        <span class="subheading">
                            Tell others about your amazing dive experiences
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="row center-align">
        <form method="POST" action="{{ url_for('add_dive') }}" class="col-8 shadow p-3 mb-5 bg-white rounded">
            <!-- List of continents -->
            <div class="row">
                <div class="col">
                    <select name="continent" class="form-control validate" id="continent" required>
                        <option value="" disabled selected>Choose Continent</option>
                        {% for continent in continents%}
                            <option value="{{ continent.continent_name }}">{{ continent.continent_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="continent"></label>
                </div>
            </div>
            <!-- Country of dive -->
            <div class="row">
                <div class="col">
                    <input type="country" name="country" class="form-control validate" id="country"
                        placeholder="Country" required />
                </div>
            </div>
            <!-- Country of dive -->
            <div class="row">
                <div class="col">
                    <input type="place" name="place" class="form-control validate" id="place"
                        placeholder="Place of Dive" required />
                </div>
            </div>
            <!-- Dive description -->
            <div class="row">
                <div class="col">
                    <textarea rows="5" name="dive_description" class="form-control validate" id="dive_description"
                        required>Describe your dive!
                        </textarea>
                </div>
            </div>
            <!-- File Upload -->
            <div class="row">
                <div class="center-align mt-5">
                    <label class="btn btn-info">
                        <i class="fa fa-image"> </i>Upload an image<input type="file" style="display: none;"
                            name="image_of_place" required>
                    </label>
                </div>
            </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="center-align">
                    <button type="submit" class="btn btn-info mt-2">Update your dives</button>
                </div>
            </div>
        </form>
    </section>

      
{% endblock %}