{% extends "layout/base.html" %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="center-align">Diving Destinations</h2>
        </div>
        <div class="row">
            <div class="col-12 center-align">
                <p>
                    Do you want to know what destinations will give you the most amazing views under water? <br>
                    Check out the destinations below and add your own trips to the collection
                </p>
            </div>
         </div>
    </div>
    </div>

{% endblock %}