{% extends "layout/base.html" %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="center-align">Diving Destinations</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-3 center-align box-in mt-5">
            <p>
                Do you want to know what destinations will give you the most amazing views under water? <br>
                Check out the destinations below and add your own trips to the collection
            </p>
        </div>
    </div>
    <div class="row">
        <form action="{{ url_for('search') }}" method="POST">
            <div class="row">
                <div class="input-field center-align col-12 mt-5">
                    <input type="text" name="query" id="query" minlength="3" class="validate" placeholder="Search for a dive destination or a country here" required>
                    <label for="query"></label>
                </div>
                <div class="center-align col-12">
                    <a href="{{ url_for('dive_destinations')}}" class="btn">Reset</a>
                    <button type="submit" class="btn text-shadow">
                        <i class="fas fa-search left"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="offset-2">
            <h2>Asia</h2>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-4">
            <div id= "destination">
                <p>Use database to populate site</p>
            </div>
        </div>
    </div>
    </div>

{% endblock %}