{% extends "layout/base.html" %}
{% block content %}

    <header class="masthead" style="background-image: url(' {{ url_for('static', filename='Images/diving5.jpg') }}')">
        <div class="overlay"></div>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Edit Dive</h1>
                        <span class="subheading">
                            Do you need to change your dive?
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="row center-align">
        <form method="POST" action="{{ url_for('edit_dive', destination_id=destination._id) }}" class="col-8 shadow p-3 mb-5 bg-white rounded">
            <!-- List of continents -->
            <div class="row">
                <div class="col">
                    <select name="continent" class="form-control validate" id="continent" required>
                        <option value="" disabled>Choose Continent</option>
                        {% for continent in continents %}
                            {% if continent.continent_name == destination.continent %}
                                <option value="{{ continent.continent_name }}" selected>{{ continent.continent_name }}</option>
                            {% else %}
                                <option value="{{ continent.continent_name }}">{{ continent.continent_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="continent"></label>
                </div>
            </div>
            <!-- Country of dive -->
            <div class="row">
                <div class="col">
                    <input type="country" name="country" class="form-control validate" id="country"
                        value="{{destination.country }}" required />
                </div>
            </div>
            <!-- Country of dive -->
            <div class="row">
                <div class="col">
                    <input type="place" name="place" class="form-control validate" id="place"
                        value="{{ destination.place }}"  required />
                </div>
            </div>
            <!-- Dive description -->
            <div class="row">
                <div class="col">
                    <textarea rows="5" name="dive_description" 
                        class="form-control validate" id="dive_description" required>
                        {{- destination.dive_description -}}
                    </textarea>
                </div>
            </div>
            <!-- File Upload -->
            <div class="row">
                <div class="mt-5">
                    <label class="btn btn-info">
                        <i class="fa fa-image"> </i>Upload an image<input type="image" style="display: none;"
                            name="image_of_place" value="{{ destination.image_of_place }}" required>
                    </label>
                </div>
            </div>
            </div>

            <!-- submit button -->
            <div class="row mx-auto center-align">
                <div class="offset-1 col-1">

                    <!-- cancel button -->
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn btn-info center-align">Cancel</a>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-info">Update your dives</button>
                </div>
            </div>
        </form>
    </section>

      
{% endblock %}