{% extends "layout/base.html" %}
{% block content %}


<div id="map"></div>
<section class="center-align" id="overlay">
    <div class="row">
        <div class="col-12 center-align mb-5">
            <h1>DiveIn</h3>
        </div>
        <div class="col-12">
            {% include 'components/auth/login.html' %}
        </div>
        <div class="col-12">
            <p class="center-align">
                Not registered <a class="space-left" href="{{ url_for('register') }}"> Register Here</a>
            </p>
        </div>
    </div>
</section>



{% endblock %}