{% extends "layout/base.html" %}
{% block content %}
    <header class="masthead" style="background-image: url(' {{ url_for('static', filename='Images/diving4.jpg') }}')">
        <div class="overlay"></div>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ username }}'s Account</h1>
                        <span class="subheading">
                            This is your diving profile
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="navbar navbar-expand-lg">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Change Username</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Change Email</a></li>
            </ul>
        </div>
        <hr>

        <h1 class="mt-5">Your Account</h1>
        {% include 'components/auth/user_form.html' %}
    </div>

    <hr>

    <div class="container">
        <div class="row mt-5">
            <h3 class="col">Your Dive Destinations</h3>
        </div>
        <div class="row mb-5">
            <a href="{{ url_for('add_dive') }}" class="btn btn-primary col-4 mt-5" role="button"
                aria-disabled="true">Add Dive</a>
        </div>

        <div class="accordion mt-5" id="myDives">
            {% for destination in destinations %}
                {% if destination.created_by %}
                    <div class="accordion-item">
                        
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ destination.country }}" 
                            aria-expanded="true" aria-controls="{{ destination.country }}">
                                <div class="col-9">
                                    <strong> {{ destination.country }}</strong> : {{ destination.place }}
                                </div>
                            </button>
                        </h2>
                        <div id="{{ destination.country }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#myDives">
                            <div class="accordion-body">
                                <p>{{ destination.dive_description }}</p>
                                <p><i>{{ destination.continent }}</i></p>
                                <div class="col-3 btn-small">
                                    <a href="{{ url_for('delete_dive', destination_id=destination._id) }}" class="btn btn-primary">Delete Dive</a>
                                    <a href="{{ url_for('edit_dive', destination_id=destination._id) }}" class="btn btn-primary">Edit Dive</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}