{% extends "layout/base.html" %}
{% block content %}
    <header class="masthead" style="background-image: url(' {{ url_for('static', filename='Images/diving4.jpg') }}')">
        <div class="overlay"></div>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ username }}'s Account</h1>
                        <span class="subheading">
                            This is your diving profile
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="navbar navbar-expand-lg">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Change Username</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Change Email</a></li>
            </ul>
        </div>
        <hr>

        <h1 class="mt-5">Your Account</h1>
        {% include 'components/auth/user_form.html' %}
    </div>

    <div class="row">
        <h3 class="col-3">Your Dive Destinations</h3>
        <a href="{{ url_for('add_dive') }}" class="btn btn-primary btn-sm col-2" role="button" aria-disabled="true">Add
            Dive</a>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            {% for destination in destinations %}
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ continent }}" aria-expanded="true" aria-controls="{{ continent }}">
                        {{ continent }}
                    </button>
                </h2>
            {% for destination in destinations %}
                <div id="{{ continent }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ destination.country }}</strong>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
      </div>


{% endblock %}