{% extends "layout/base.html" %}
{% block content %}
    <header class="masthead registration-background" style="background-image: url(' {{ url_for('static', filename='Images/diving3.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row center-align">
                <div class="col-md-10 col-lg-8 col-xl-7 shadow-lg mt-5 rounded">
                    <div class="site-heading">
                        <h1>Register Below</h1>
                        <div class="subheading"> {% include 'components/auth/register.html' %}</div>
                        <div class="subheading"> Already registered? <a class="registration-link" href="{{ url_for('home') }}"> Log In</a></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %} 
