{% extends "layout/base.html" %}
{% block content %}

    <section class="center-align registration-section registration-background">
        <div class="row jumbotron">
            <div class="col-12 center-align mb-5">
                <h1>Register below</h3>
            </div>
            <div class="col-12">
                {% include 'components/auth/register.html' %}
            </div>
            <div class="col-12">
                <p class="center-align">
                    Already Registered? <a class="space-left" href="{{ url_for('home') }}"> Log In</a>
                </p>
            </div>
        </div>
    </section>

    
    
{% endblock %} 
