<form method="POST" action="#">
    <div>
        <!-- username -->
        <div class="row">
            <div class="col s12 mb-3">
                <i class="fas fa-user-plus"></i>
                <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" placeholder="{{ username }}" required>
                <a href="#"><i class="fas fa-pencil-alt"></i></a>
            </div>
        </div>

                <!-- register -->
        <div class="row mb-3 center-align">
            <button type="submit" class="registration-button">
                Update Profile <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
</form>