html {
    font-size: 62.5%;
}

/* map styling */

#map {
  height: 60vh;
}


body {
  color: #1B1464; 
  height: 100%;
  width: 100%;
  margin: 5px;
  padding: 0;
  font-size: 1.4rem;
}



/* font size */

h3 {
  font-size: 2.8rem;
}

h1 {
  font-size: 4.2rem;
}

/* adjustments */

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-link {
  margin-left: 5px;
  color: rgba(1, 104, 197, 1);
  font-size: 1.5rem;
}

/* registration-section */

.registration-background {
  height: 100vh;
  width: 100%;
  background-image: url(diving2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.registration-button {
  border-radius: 12px;
  border: 2px solid rgba(1, 104, 197, 0.5);
  color: rgba(252, 252, 252, 1); 
  background-color: #1B1464;
}

.registration-button:hover {
  background-color: rgba(1, 104, 197, 0.5);
  color: white;
}


/* Dive Destination page */

.box-in {
  border: 2px solid rgba(1, 104, 197, 0.5);
  width: 50%;
  position: relative;
}

/* flash message styling */

.flashes {
  line-height: 2;
}

