html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 120vh;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-index {
    height: 60vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}