{% extends "base.html" %}
{% block content %}
    <div class="row">
            <div class="center-align">
                <h2 class="header">Diving Destinations</h2>
                <div class="card horizontal">
                    <div class="card-content">
                      <p class>Do you want to know what destinations will give you the most amazing views under water? Check out the destinations below and add your own trips to the collection</p>
                    </div>
                </div>
              </div>
        </div>
    </div>
    {% for description in descriptions %}
        {{ description.continent }}<br>
        {{ description.country }}<br>
        {{ description.country_description }}<br>
        {{ description.favorite }}<br>
    {% endfor %}

{% endblock %}