<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'layout/head.html' %}
</head>
<body>
    <header>
      {% include 'layout/navbar.html' %}
    </header>
    <section>
      <!-- flash message -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="row flashes">
            <h4 class="center-align"> {{ message }} </h4>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>
    {% block content %}
    {% endblock %}
  
    {% include 'layout/scripts.html' %}
</body>
</html>