
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script> 
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
<script src="{{ url_for('static', filename='js/clean-blog.min.js')}}"></script>
 
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap&v=weekly" async
></script>




